node_modules/
.env
.env.local
.DS_Store
*.log
npm-debug.log*
dist/
coverage/
.idea/
*.swp
*.swo
*~
.vscode/

# AWS deployment
.elasticbeanstalk/
deploy-package/
deploy-package.zip
*.pem

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
