commands:
  01_install_mongodb:
    command: |
      sudo tee /etc/yum.repos.d/mongodb-org-7.0.repo > /dev/null <<EOF
      [mongodb-org-7.0]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2023/mongodb-org/7.0/x86_64/
      gpgcheck=1
      enabled=1
      gpgkey=https://pgp.mongodb.com/server-7.0.asc
      EOF
      sudo yum install -y mongodb-org
    ignoreErrors: false
    
  02_start_mongodb:
    command: sudo systemctl start mongod
    ignoreErrors: false
    
  03_enable_mongodb:
    command: sudo systemctl enable mongod
    ignoreErrors: false
